.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.mt40 {
  margin-top: 40px;
}

.p50 {
  padding: 50px;
}

.commentPagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0 5rem;
}

li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}

li.previous a,
li.next a,
li.break a {
  border-color: transparent;
}

li.active a {
  background-color: #30475E;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

li.disabled a {
  color: grey;
}

li.disable,
li.disabled a {
  cursor: default;
}

