.background-color{
    background: rgb(9, 43, 134);
    background: linear-gradient(
      47deg,
      rgb(226, 232, 248) 0%,
      rgb(132, 132, 220) 46%,
      rgb(8, 74, 87) 100%
    );
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}